@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Open+Sans:wght@400;500&display=swap');

html, body {
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

#svelte, main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.thin {
	font-weight: 300;
}

.fat {
	font-weight: 700;
}